---
import fotopablo from "../assets/fotopablo.png";
import fotopm from "../assets/fotopm-.png";
import Badge from "../components/Badge.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import SocialPill from "../components/SocialPill.astro";
import AcademicTraining from "../components/AcademicTraining.astro";
import Projects from "../components/Projects.astro";

import LinkedinIcon from "../components/icons/Linkedin.astro";
import GithubIcon from "../components/icons/GitHub.astro";
import EmailIcon from "../components/icons/Email.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
	title="Porfolio - Pablo Leandro Marello González - Desarrollador y programador Web full stack"
	description="Disponible para trabajar. Técnico en Desarrollo de Software, Programador web. Especializado en base de datos."
>
	<main>
		<section class="w-full mx-auto lg:w-[740px] lg:mt-10 py-40 px-6 ">
			<div class="flex flex-row">
				<img
					class="rounded-full size-14 md:size-16 lg:size-20 mb-4 mr-4 shadow-md shadow-yellow-200"
					src={fotopm.src}
					alt="Logo porfolio"
				/>
				<a
					href="https://www.linkedin.com/in/pablo-leandro-marello-gonz%C3%A1lez-b709a8272/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>#Open to work</Badge></a
				>
			</div>

			<h1
				class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4"
			>
				¡Hola! Soy Pablo Leandro Marello González
			</h1>
			<h2 class="text-xl md:text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span class="text-red-300/80">Técnico en Desarrollo de Software.</span>
				<span class="text-yellow-200/80"> Dev Full Stack</span>
			</h2>

			<nav class="flex flex-wrap gap-x-4 ">
				<SocialPill
					href="https://www.linkedin.com/in/pablo-leandro-marello-gonz%C3%A1lez-b709a8272/"
				>
					<LinkedinIcon
						src=""
						alt="Icono de linkedin"
						class="size-4 lg:size-6"
					/>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/pablomarello">
					<GithubIcon class="size-4 lg:size-6" />
					GitHub
				</SocialPill>
				<SocialPill>
					<EmailIcon class="size-4 lg:size-6" />
					plmarello@gmail.com
				</SocialPill>
			</nav>
		</section>

		<!--Sección Formacion Academica -->
		<section class="w-full mx-auto lg:w-[740px] px-6" id="formacion-academica">
			<h2 class="text-xl lg:text-2xl text-wrap pb-4 semi-bold">
				Formación Académica
			</h2>
			<AcademicTraining />
		</section>

		<!--Sección Proyectos -->
		<section class="w-full mx-auto lg:w-[740px] pt-20 px-6" id="proyectos">
			<h2 class="text-xl lg:text-2xl text-wrap pb-4 semi-bold">Proyectos</h2>
			<Projects />
		</section>

		<button
			id="scroll-to-top"
			class="fixed bottom-4 right-4 p-2 bg-violet-950 text-white rounded-xl shadow-lg hover:bg-violet-800 focus:outline-none hidden"
			aria-label="Subir al inicio"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-6 w-6"
				fill="none"
				viewBox="0 0 24 24"
				stroke="currentColor"
				stroke-width="4"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
			</svg>
		</button>
	</main>
	<!-- <Welcome /> -->
</Layout>

<style>
	#scroll-to-top {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#scroll-to-top.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
#scroll-to-top.hidden {
  display: none;
  opacity: 0;
  transform: translateY(20px);
}
</style>

<script>
	document.addEventListener('DOMContentLoaded', () => {
  const scrollToTopButton = document.querySelector('#scroll-to-top');

  // Mostrar el botón cuando se hace scroll hacia abajo
  window.addEventListener('scroll', () => {
    if (window.scrollY > 300) {
      scrollToTopButton?.classList.remove('hidden');
      scrollToTopButton?.classList.add('show');
    } else {
      scrollToTopButton?.classList.remove('show');
      scrollToTopButton?.classList.add('hidden');
    }
  });

  // Desplazarse al inicio cuando se hace clic en el botón
  scrollToTopButton?.addEventListener('click', () => {
    window.scrollTo({
      top: 0,
      behavior: 'smooth', // Animación suave
    });
  });
});

</script>
